
.filter {
    display: flex;
    margin: 25px 25px 25px 25px;
    cursor: pointer;
}


.multiselect-container > li {
    padding: 0
}

.multiselect-container > li > a > label:hover {
    background-color: #1967d2; /* Default Bootstrap hover color */
    color: white; /* Optional: Set text color to white for better visibility */
}

.multiselect-container > li > a > label:active {
    background-color: #1967d2; /* Default Bootstrap active color */
    color: white; /* Optional: Set text color to white for better visibility */
}




.multiselect-container > li > a.multiselect-all label {
    font-weight: 700
}


.multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container > li > a {
    padding: 0
}


.multiselect-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden
}

.multiselect {
    height: 50px;
}




.multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px
}

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
    margin: 0
}


.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}